{% extends "ebase.html" %}
{% block title %}Client-Name{% endblock %}


{% block content %}

<div class="display-sideways justify-center ehome-label">
    <h1 class="text-label">Books Page</h1>
</div>

<div class="display-sideways justify-center ehome-blank">
    <a href="{{url_for('views.ehome')}}" class="a"><button type="button" class="form-submit back-home">Home Page</button></a>
</div>

<div class="display-sideways ehome-activities">
    <div style="width:60%;">
        <form method="POST">
            <input type="text" name="title" hx-get="/esearchtitle" hx-trigger="keyup changed delay:100ms" hx-target="#title"  class="inputbox search-input eclient-search">
        </form>
    </div>

    <div style="width:40%;" class="eclient-searches display-sideways justify-center align-items">
        <a href="{{url_for('views.ebooksTitle')}}" class="a"><button type="button" class="home-hoverbutton">Search By Title</button></a>
        <a href="{{url_for('views.ebooksDate')}}" class="a"><button type="button" class="home-hoverbutton" style="margin-left:8px;">Search By Date</button></a>
        <a href="{{url_for('views.ebooksAuthor')}}" class="a"><button type="button" class="home-hoverbutton" style="margin-left:8px;">Search By Author</button></a>
    </div>
</div>

<div class="display-sideways">
    <!-- add and edit client -->
    <div style="width:400px;">
        <a href="{{url_for('views.eaddbook')}}" class="a"><button type="button" class="add-button home-fullwidthbutton">Add Book</button></a>
        <a href="{{url_for('views.eeditbook')}}" class="a"><button type="button" class="edit-button home-fullwidthbutton">Edit Book</button></a>
    </div>

    <!-- show books -->
    <table class="table table-bordered">
        <thead>
                <tr>
                    <th><div class="justify-center display-sideways">Book Id</div></th>
                    <th><div class="justify-center display-sideways">Title</div></th>
                    <th><div class="justify-center display-sideways">Author</div></th>
                    <th><div class="justify-center display-sideways">Published Date</div></th>
                </tr>
        </thead>
        <tbody id="title">

        </tbody>
    </table>
</div>

{% endblock %}
